/* Основное оформление */
a {
	/*color: #00DDFF;*/
	color: #00DBCC;
	text-decoration: none;
}


html {
	/* Основные параметры */
	color: #f0f0f0;

	/* Градиент темный */
	background: rgb(5,11,34);
	background: linear-gradient(160deg, rgba(5,11,34,1) 10%, rgba(44,7,83,1) 32%, rgba(4,93,125,1) 59%, rgba(123,58,223,1) 100%);
	/* Градиент светлый */
	/*background: rgb(52,60,96);
	background: linear-gradient(156deg, rgba(52,60,96,1) 8%, rgba(156,80,84,1) 44%, rgba(130,215,166,1) 100%);*/
	background-repeat: no-repeat;

	height: 100%;

	/*background-image: url(../title.jpg);*/
	/*background-image: url("https://catherineasquithgallery.com/uploads/posts/2021-02/1613566971_208-p-fon-dlya-prezentatsii-po-informatike-235.png");*/
	background-position: center center;
	background-size: 100%;

	margin: auto;
	padding: 0;
	background-attachment: fixed;
}

.post-sub span {
    background: linear-gradient(70.56deg, #0022FF -35.95%, #0022FF -16.25%, #C8FAFB 13.03%, #A5EDB6 48.3%, #FAE85A 63.82%, #FDAC3E 81.55%, #FF5C00 105.66%);;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


body::-webkit-scrollbar {
	width: 8px;
}

body::-webkit-scrollbar-track {
	background: rgb(5,11,14);
}

body::-webkit-scrollbar-thumb {
	background-color: #9161DD;
	border-radius: 70px;
	border: 0px solid white;
}


/* Оформление страниц */

/* Верхнее меню */
.top-menu {
	/* Блюр */
	backdrop-filter: blur(8px) saturate(200%);
    -webkit-backdrop-filter: blur(8px) saturate(200%);
    background-color: rgba(17, 25, 40, 0.66);
    border-radius: 12px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.125);
    /* Светлый блюр */
	/*background: rgba(255, 255, 255, .22);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);*/

	/* Шрифт */
	font-family: 'Inter', sans-serif;

	/* Позиция */
	position: sticky; 
	z-index: 1;
	border-radius: 0px;
	top: 0;
	left: 0;
	margin: auto;

	/* Внутреннее выравнивание */
	padding: 15px;
}

/* Верхнее меню на главной странице */

/* Кнопка tankalxat34 */
.tankalxat34-button {
	color: #f0f0f0; 
	font-size: 36px;
	font-weight: 900;
	font-family: "Inter", sans-serif;

	border-radius: 20px;
	border: 5px solid;
	padding: 10px 50px;

	/*text-align: left;*/
}

/* Остальные кнопки меню */
.button-menu {
	display: inline-block;
	color: white;
	text-decoration: none;
	user-select: none;

	border: 2px;
	padding: .4em 1em;

	height: 100%;

	font-family: "Inter", sans-serif;
	font-size: 22px;
}

a.button-menu:hover {text-decoration: underline;}
a.button-menu:active {color: white;}

/* Логотип на меню */
.menu-logo {
	font-size: 28px; 
	border: 1px solid white; 
	border-radius: 10px; 
	border-width: 3px; 
	padding: .2em .6em;

	text-align: center;
	margin: auto;
	font-family: "Inter", sans-serif;
	font-size: 25px;
	color: #f0f0f0;
}

/* контейнер вверху страницы */
.title-div {
	width: 100%; 
	height: 270px; 
	border-radius: 0px; 
	border: 0px; 

	background-image: url("https://raw.githubusercontent.com/tankalxat34/tankalxat34.github.io/content/title.jpg");
	/*background-image: url("../title2.jpg");*/
	background-position: center center;
	background-repeat: no-repeat;
	background-size: auto;

	text-align: center;
	margin: auto;
	font-family: "Inter", sans-serif;
	font-size: 25px;
	color: #f0f0f0;
}


/* глассморфизм-виджеты */
.card {
	padding: 2rem;
	border-radius: 2rem;
	border: 1px solid rgba(255, 255, 255, 0.125);
	background: rgba(255, 255, 255, .17);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	height: auto;

	/* шрифты */
	font-family: 'Inter', sans-serif;

	/* размеры */
	padding-top: 10px;
	padding-left: 30px;
	padding-right: 35px;
	padding-bottom: 10px;
	min-width: 30%;
	width: 70%;
}


.card-black {
	padding: 2rem;
    backdrop-filter: blur(8px) saturate(200%);
    -webkit-backdrop-filter: blur(8px) saturate(200%);
    background-color: rgba(17, 25, 40, 0.66);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);

    /* шрифты */
	font-family: 'Inter', sans-serif;

	/* размеры */
	padding-top: 10px;
	padding-left: 30px;
	padding-right: 35px;
	padding-bottom: 10px;
	width: 55%;
	min-width: 60%;
}

.emoji {
	width: 19px;
}

a.button {
	display: inline-block;
	color: white;
	font-weight: 700;
	text-decoration: none;
	user-select: none;
	padding: .5em 2em;
	outline: none;
	border: 2px solid;
	border-radius: 10px;
	transition: 0.3s;

	font-family: "Inter", sans-serif;
	font-size: 20px;
	text-align: center;
	margin: auto;
} 
a.button:hover { background: rgba(255,255,255,.2); }
a.button:active { background: white; }


/* Настройки элементов для страниц */

.a-button-main {
	display: inline-block;

	/*background: linear-gradient(160deg, rgba(44,7,83,1) 12%, rgba(4,93,125,1) 57%, rgba(123,58,223,1) 100%);*/
	/*background: linear-gradient(160deg, rgba(44,7,83,.8) 12%, rgba(4,93,125,.7) 57%, rgba(123,58,223,.5) 100%);;*/
	/*background: rgba(64, 64, 64, .3);*/
	background: #00BE59;
	border: 1px solid rgba(64, 64, 64, .5);
	color: white;

	text-decoration: none;
	user-select: none;
	padding: .7em 4em;
	outline: none;
	border-radius: 10px;
	transition: 0.4s;

	font-family: "Inter", sans-serif;
	font-size: 18px;
	text-align: center;
	margin: auto;
}
.a-button-main:hover { 
	/*background: rgba(255,255,255,.2);*/
	/*background: linear-gradient(160deg, rgba(4,93,125,.1) 10%, rgba(123,58,223,.7) 100%);*/
	/*background: linear-gradient(160deg, rgba(44,7,83,.8) 12%, rgba(4,93,125,.3) 57%, rgba(123,58,223,.3) 100%);*/
	/*background: rgba(64, 64, 64, .3);*/


	background: #00E269;
	/*background: #008940;*/
	/*background: #3ABC77;*/

}
.a-button-main:active { background: white; }



/* Встроенные виджеты */

codersrank-summary {
	--bg-color: rgba(52,60,96,1) 8%;
	--header-bg-color: rgba(130,215,166,1) 100%;
	--badge-bg-color: rgba(255,255,255,.22);
	--badge-text-color: white;

	/*-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);*/

	border-radius: 20px;
	padding: .6em;
	width: 40%;

	float: left;

}

codersrank-activity {
	--bg-color-0: #f0f0f0;
	/*-webkit-backdrop-filter: blur(10px);*/
	/*backdrop-filter: blur(10px);*/

	border-radius: 20px;
	padding: .6em;
}